@font-face{
  font-family:"Allura-Regular";
  src: url("../fonts/Allura-Regular.otf")
}
.yogalive-title{
  font-family: "Allura-Regular";
  font-size: 150px;
}
@media (max-width:600px){
  .yogalive-title {
    font-size:100px;
  }
}
.simple-splash{
  background-color: purple;
  color:white;
  position: absolute; 
  top: 0; 
  left: 0;
  width:100%;
  height:100%;
}
.simple-splash {
  font-size: 20px
}


.splash-form {
  width: 75%;
} 

.purple-background {
  background-color: purple;
  
}